.vs/*
.vscode/*
MugiBot/.vscode/*
MugiBot/obj/*
MugiBot/bin/*
config.json
MugiBot/archivedJsons/*
MugiBot/DataBase/*.json
MugiBot/DataBase/*.txt
/MugiBot/LavaLink/*
/MugiBot/Properties/*
MugiBot/PartyBot.csproj.user
MugiBot/logs/*
MugiBot/logs
MugiBot/tempMusic
MugiBot/Migrations
MugiBot/AniLists/*
MugiBot/playlists/*
MugiBot/MALUserLists/*
MugiBot/DataBase/csharpi.db
MugiBot/DataBase/csharpi.db-wal
MugiBot/DataBase/csharpi.db-shm
MugiBot/DataBase/CsharpEntities.cs
MugiBot/DataBase/*.txt
*.jar
*.yml
*.db
*.db-shm
*.db-wal
*.log
