.vs/*
.vscode/*
MugiBot/obj/*
MugiBot/bin/*
config.json
MugiBot/archivedJsons/*
MugiBot/DataBase/*.json
/MugiBot/LavaLink/*
/MugiBot/Properties/*
MugiBot/PartyBot.csproj.user
MugiBot/logs
MugiBot/tempMusic
MugiBot/Migrations/*
MugiBot/DataBase/csharpi.db
MugiBot/DataBase/csharpi.db-wal
MugiBot/DataBase/csharpi.db-shm
MugiBot/DataBase/CsharpEntities.cs
MugiBot/DataBase/*.txt
*.jar
*.yml
*.db
